.table-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: left;
}

.custom-table th {
    font-weight: bold;
}

.paginationButton {
    border: none;
    background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5%);
}